<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-support-crashlytics" version="1.0.1">
    <name>Cordova Crashlytics Support Plugin</name>
    <description>A cordova plugin to simplify adding Crashlytics deps and auto-upload of dsyms to Firebase for both iOS and Android.</description>

    <platform name="ios">
        <pod name="Fabric" version="~> 1.10.2" />
        <pod name="Crashlytics" version="~> 3.13.2" />
    </platform>

    <platform name="android">
        <framework src="com.google.firebase:firebase-crashlytics:17.2.2" />
        <framework src="com.google.firebase:firebase-analytics:17.6.0" />
    </platform>

    <dependency id="cordova-plugin-cocoapod-support" version="1.6.0"/>

    <hook type="after_prepare" src="hooks/after_prepare.js" />
    <hook type="before_plugin_rm" src="hooks/before_plugin_rm.js" />
</plugin>
