<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-support-crashlytics" version="1.1.1">
    <name>Cordova Crashlytics Support Plugin</name>
    <description>A cordova plugin to simplify adding Crashlytics deps and auto-upload of dsyms to Firebase for both iOS and Android.</description>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseCrashlytics"/>
                <pod name="FirebaseAnalytics"/>
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <framework src="com.google.firebase:firebase-crashlytics:17.2.2" />
        <framework src="com.google.firebase:firebase-analytics:18.0.0" />
        <framework src="firebase-crashlytics.gradle" custom="true" type="gradleReference"/>
    </platform>

    <dependency id="cordova-plugin-cocoapod-support" url="git+https://github.com/blakgeek/cordova-plugin-cocoapods-support.git" version="1.6.2"/>
</plugin>
